# Maven build output
target/

# Build artifacts
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IDE settings
# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS-specific files
.DS_Store

# Crash logs
hs_err_pid*
replay_pid*
