@font-face {
    font-family: "Space Grotesk", sans-serif;
    src: url("/com/dnbsammie/spacesimulator/fonts/SpaceGrotesk-Regular.ttf");
}

@font-face {
    font-family: "Space Mono", monospace;
    src: url("/com/dnbsammie/spacesimulator/fonts/SpaceMono-Regular.ttf");
}

.root {
    -fx-font-family: "Orbitron";
}