.button {
    -fx-min-width: 125;
    -fx-min-height: 40;
    -fx-border-radius: 6;
    -fx-border-color: rgba(250,250,250,1);
    -fx-background-color: rgba(250,250,250,0.2);
    -fx-text-fill: rgba(250,250,250,1);
    -fx-font-family: "SpaceMono";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 5 15 5 15;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

.button:hover {
    -fx-border-color: rgba(74,244,241,1);
    -fx-background-color: rgba(74,244,241,0.2);
    -fx-text-fill: rgba(74,244,241,1);
}
